*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #20da7d;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  background: linear-gradient(110deg, rgb(20, 19, 20) 46%, rgb(6, 10, 38) 95%);
  overflow-x: hidden;
}

.conteiner {
  max-width: 1350px;
  margin: 0 auto;
}

.title {
  padding: 2rem;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 55px;
  color: #20da7d;
  cursor: pointer;
}
.title-section {
  padding: 1.3rem;
  line-height: 30px;
  font-size: 24px;
  text-align: center;
  color: #20da7d;
}
.title-description {
  padding: 0 0.5rem;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3;
  color: rgba(231, 227, 255, 0.7960784314);
}

.btns {
  transition: all 0.3s;
  display: inline-block;
  width: 140px;
  height: 45px;
  margin: 4rem;
  text-decoration: none;
  line-height: 45px;
  border-radius: 45px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  background: #20da7d;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.btns:hover {
  filter: blur(4px);
  color: #ffffff;
  box-shadow: 0 5px 10px rgba(18, 95, 69, 0.4);
  text-decoration: none;
  transform: translateY(-3px);
}
.btns__add {
  background: #20da7d;
}
.btns__up {
  position: fixed;
  right: 20px;
  bottom: 0;
  cursor: pointer;
}
.btns__up_hide {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0.5rem;
  margin: 0 auto;
  color: #ffffff;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8vw;
}
.header-logo__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo__lists_image {
  margin: 0.5rem;
}
.header-logo__lists_title {
  margin: 0.5rem;
}
.header-logo__lists_title a {
  color: #ffffff;
}
.header-logo__lists_title a:hover {
  transition: all 0.3s;
  color: #20da7d;
  text-decoration: none;
}
.header-nav__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__lists_link {
  margin: 2rem;
}
.header-nav__lists_link a {
  color: #ffffff;
}
.header-nav__lists_link a:hover {
  transition: all 0.3s;
  color: #20da7d;
  text-decoration: none;
}

.footer {
  margin: 3rem;
  margin: 0 auto;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.footer-top__logo {
  width: 8vw;
}
.footer-top__logo_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top__logo_lists--image {
  margin: 0.5rem;
}
.footer-top__logo_lists--title {
  margin: 0.5rem;
}
.footer-top__logo_lists--title a {
  transition: all 0.3s;
  text-decoration: none;
  color: #ffffff;
}
.footer-top__logo_lists--title a:hover {
  color: #20da7d;
}
.footer-top__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top__nav_lists {
  width: 25vw;
}
.footer-top__nav_lists--title {
  margin: 3rem;
  color: #20da7d;
  font-size: 20px;
}
.footer-top__nav_lists--link {
  margin: 3rem;
}
.footer-top__nav_lists--link a {
  transition: all 0.3s;
  text-decoration: none;
  color: #ffffff;
}
.footer-top__nav_lists--link a:hover {
  color: #20da7d;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.footer-bottom__rights {
  width: 50vw;
  text-align: center;
}
.footer-bottom__rights_info {
  color: rgba(231, 227, 255, 0.7960784314);
}
.footer-bottom__social {
  width: 10vw;
}
.footer-bottom__social_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__social_lists--link {
  margin: 2rem;
}/*# sourceMappingURL=main.css.map */